.gridTools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin: 10px 0;
}

.btnTool {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 10px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 6px;
  background: #222;
  color: #888;
}

.btnToolActive {
  background: rgba(255, 107, 0, 0.15);
  border-color: #FF6B00;
  color: #FF6B00;
}
